<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} | %m%n" />
		</Console>
		<File name="file" fileName="log/console.log" append="false">
			<PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} | %m%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</Configuration>